<br>
<br>
<div align="center">
<div>
  <label>Id</label>
  <input type="text" [(ngModel)]="id" name="id">
</div>
<div>
  <label>Title</label>
  <input type="text" [(ngModel)]="title" name="tite">
</div>
<div>
  <label>Author</label>
  <input type="text" [(ngModel)]="author" name="author">
</div>
<button (click)="buttonClick()">Search</button>
</div>


<br>
<br>
<div align="center">
<table>
  <thead>
    <th> Id </th>
    <th> Author </th>
    <th> Musica </th>
  </thead>

  <tbody>
    <tr *ngFor="let post of posts$ | async">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.author }}</td>
      <td>
        <!--
        <span (click)="preencherCampos(musica)"> alterar </span>
        <span (click)="remover(musica.id!)"> remover </span>
        -->
      </td>
    </tr>

  </tbody>
</table>
</div>